@media screen and (min-width: 650px) {
    #menu {
        display: none;
	}

    header {
        grid-template-columns: 1fr 2fr;
    }

    header nav {
        grid-column: 2 / 3;
    }

    .navigation {
        flex-direction: row;
	}

    .navigation li {
        flex-direction: row;
    }

    .navigation li a {
        display: block;
        flex: 1 1 100%;
    }

    .snakes {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .snakes section {
    min-width: 250px;
    max-width: 400px;
    flex-direction: column;
    text-align: center;
    }

    .snakes section h3 {
        padding: 1em;
        display: block;
    }

    .snakes section img {
        width: 100%;
        padding: 0;
        border-radius: 0;
    }

    .snakes section div {
        width: auto;
        padding-top: 0;
    }

    .snakes section div h3 {
        display: none;
    }

    .snakes section div div h3 {
        display: block;
        padding: 0;
    }
}