@media screen and (min-width: 650px) {
    #menu {
        display: none;
	}

    header {
        grid-template-columns: 1fr 2fr;
    }

    header nav {
        grid-column: 2 / 3;
    }

    .navigation {
        flex-direction: row;
	}

    .navigation li {
        flex-direction: row;
    }

    .navigation li a {
        display: block;
        flex: 1 1 100%;
    }
}