:root {
    --font-family: "Averia Libre", system-ui;
    --primary-color: #e5c5ad;
    --accent-color-primary: #e1a77b;
    --secondary-color: #b36024;
    --accent-color-secondary: #8a4717;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

header h1, footer p {
    background-color: var(--secondary-color);
}

header, footer {
    padding: 1rem 0;
    background-color: var(--accent-color-secondary);
    text-align: center;
}

main {
    padding: 1rem;
    background-color: var(--primary-color);
}

header, main, footer {
    width: auto;
    margin: 0 auto;
    font-family: var(--font-family);
}

h1 {
    font-family: var(--font-family);
    font-size: xx-large;
    font-weight: 700;
}

h2 {
    font-family: var(--font-family);
    font-size: x-large;
    font-weight: 400;
}

h3 {
    font-family: var(--font-family);
    font-size: large;
    font-weight: 400;
}

section {
    padding: 1rem;
    background-color: var(--accent-color-primary);
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 1rem;
}

section p {
    font-family: var(--font-family);
    font-size: large;
    font-weight: 300;
}

.plan {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.title {
    font-weight: 700;
}

.colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.colors h2 {
    grid-column: 1 / 5;
}

.colors div {
    height: 84px;
    padding: 1rem;
    border: 3px solid rgb(0, 0, 0, 0.1);
    border-radius: 1em;
}

.header-color {
    background-color: var(--secondary-color);
}

.header-accent {
    background-color: var(--accent-color-secondary);
}

.main-color {
    background-color: var(--primary-color);
}

.main-accent {
    background-color: var(--accent-color-primary);
}

picture {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

picture img {
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.mobile img {
    width: 300px;
    height: auto;
}

.wide img {
    width: 600px;
    height: auto;
}